<div class="container-fluid d-block position-absolute search-box alert-dismissible d-none">
    <div class="container-fluid">
        <div class="container d-flex align-items-center justify-items-center">

            <i class="fa-solid fa-magnifying-glass search fa-2x dashboard-icon mx-4 px-3 text-primary"></i>

            <input class="py-3 text-primary fs-3 w-100 search-bar" type="text" placeholder="Search the user....">

            <button class="search-close"><i class="fa-solid fa-circle-xmark fa-2x mx-4 px-3 text-secondary"></i></button>
        </div>

        <div class="container d-flex flex-column justify-items-center mt-4">

            <div class="alert alert-danger bg-danger text-white text-center search-alert d-none" role="alert">
                Oops! Nothing found! Try again.
              </div>
            <i class="fa-solid fa-spinner mx-auto fa-3x fa-spin loading"></i>
            <div class="search-items"></div>
        </div>

    </div>
    

</div>